body {
background-image: url('../images/surfAppBackground.jpg');
background-size: cover;
margin: 0;
}

h1,h2 {
    text-align: center;
    font-family: 'Chivo', sans-serif;

}

h2, h3 {
    color: #668591
}

h3 {
font-style: bold;
}

.container {
text-align: center;
font-family: 'Overpass', sans-serif;
max-width: 100%;
border-radius: 50px;
background-color: white;
margin-left: auto;
margin-right: auto;
margin-top: 70px;
padding: 1em;
}

.logo {
    height: 142px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    padding: 8px;
}


.nav {
    background-color: #56565685;
    height: 55px;
}

.navLogo {
    height: 50px;
    position:  relative;
    top: 6px;
}

.backButton {
    position: absolute:
    right:  10px;
}


header {
    padding: 6px;
}

.fa-star {
    color: gold;
}

.info-boxes {
    display: flex;
    justify-content: space-evenly;
    /* align-items: flex-end; */
}

.info-boxes > li {
    display: inline-block;
    height: 140px;
    width: 100px;
    border: 1.3px solid #017d98;
    border-radius: 25px;
    list-style-type: none;
    padding: 10px;
    
}

.info-boxes > div {
    /* display: flex; */
    justify-content: center;
    /* align-items: flex-start; */

}

.info-boxes p {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.star-image {
    /* display: flex; */
    flex-direction: row;
    height: 35px;
    
}

.star-box {
    /* display: inline-flex; */
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 768px)    {
    .container {
        max-width: 740px;
    }
}

/* #FFFFFF | #222222 | #565656 | #E5EBEB | #1549D7 */