body {
background-image: url('../images/surfAppBackground.jpg');
}

header {
    text-align: center;
    font-family: 'Chivo', sans-serif;

}

.container {
    display: flex;
text-align: center;
font-family: 'Overpass', sans-serif;
border: 2px solid rgb(4, 4, 104);
}

.logo {
    height: 142px;
    /* display: flex; */
    justify-content: center;
    margin-top: 50px;
    padding-left: 43px;
}

h2 {
    margin-top: -120px;
}

.info-boxes {
    /* display: flex; */
    justify-content: space-evenly;
    align-items: flex-end;
}

.info-boxes > li {
    height: 140px;
    width: 100px;
    border: 2px solid black;
    list-style-type: none;
}

.info-boxes > div {
    /* display: flex; */
    justify-content: center;
    align-items: flex-start;

}

.info-boxes p {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.star-image {
    /* display: flex; */
    flex-direction: row;
    height: 35px;
    
}

.star-box {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

/* Chivo- headers
    Overpass- body */

/* #FFFFFF | #222222 | #565656 | #E5EBEB | #1549D7 */